.navbar {
  height: 50px;
  background-color: rgb(3, 3, 46);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; 
}

.username {
  font-weight: bold;
  color: white;
}

/* Styled logout, login, and register buttons */
.headerBtn {
  background-color: #c6007e;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 16px; 
}

.headerBtn:hover {
  background-color: #a50068;
  transform: translateY(-2px);
}

.headerBtn:active {
  transform: translateY(1px);
}
